#header {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    height: $header-height;
    width: 100%;
    padding: 10px;
    background-color: $dark-gray;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px 0;
    z-index: 10000;

    #header-container {
        @import '../module/search-box';
        @import '../module/github-link';
    }
}
