@keyframes pop {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes hide {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

#comment-list {
  padding: 15px 15px 5px 15px;
  background-color: transparent;
  color: #2d2d2d;
  font-size: 12px;
  text-align: center;
  z-index: 1;

  .balloon {
    position: relative;
    display: inline-block;
    margin: 5px;
    padding: 0 12px;
    width: auto;
    min-width: 25px;
    height: 35px;
    color: #F6F6F6;
    line-height: 35px;
    text-align: center;
    background-color: #3880d5;
    animation: pop ease 0.3s;

    &:after {
      content: "";
      position: absolute;
      bottom: -8px; left: 50%;
      margin-left: -8px;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 8px 0 8px;
      border-color: #3880d5 transparent transparent transparent;
    }

    &.hiding, &.hiding:after {
      animation: hide ease 0.3s forwards;
    }

    &.self {
      background-color: #e14662;

      &:after {
        border-color: #e14662 transparent transparent transparent;
      }
    }

    .fav-heart {
      font-size: 16px;
    }
  }
}
