#github-link {
    float: left;
    box-sizing: border-box;
    height: 38px;
    width: 50px;
    padding-top: 5px;
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    transition: color 0.1s linear;

    &:focus {
        outline: none;
    }
    &:hover {
        cursor: pointer;
        color: #e14662;
    }
}
