#page-controller {
    float: right;
    padding: 10px 10px;

    .paging-link {
        padding: 0 5px;
        color: #2d2d2d;
    }
    .paging-inactive {
        padding: 0 5px;
        color: #5e5e5e;
    }
    .current-page {
        margin: 0 5px;
        padding: 0 5px;
        background-color: #3880d5;
        color: #ffffff;
    }
}
