#player {
    box-sizing: border-box;
    height: $player-height;
    padding: 0 20px;

    .track-info {
        float: left;
        height: 18px;
        width: calc(100% - #{$player-controllers-width});
        margin-top: 10px;
        font-size: 16px;
        letter-spacing: 0.5px;
        color: $text-light-on-gray;

        a {
            color: #76b1e6;
        }
    }
    .time-info {
        float: left;
        width: calc(100% - #{$player-controllers-width});
        margin-top: 2px;
        font-size: 12px;
        letter-spacing: 0.5px;
        color: $text-light-on-gray;

        .separator {
            padding: 0 1px;
        }
        .current {
            float: left;
        }
        .end {
            float: right;
        }
    }
    .controllers {
        float: left;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 100%;
        width: $player-controllers-width;

        #volume {
            box-sizing: border-box;
            margin-right: 20px;

            .mute-toggle-button {
                float: left;
            }
            .slider {
                float: left;
                height: 3px;
                width: 70px;
                margin-top: 14px;
                padding: 5px 0;
                cursor: pointer;

                .fill {
                    float: left;
                    height: 100%;
                    background-color: #3880d5;
                    transition: width 0.1s linear;
                }
                .unfill {
                    float: left;
                    height: 100%;
                    background-color: $light-gray;
                    transition: width 0.1s linear;
                }
                .overlay {
                    position: relative;
                    height: 100%;
                    width: 100%;
                }
            }
        }
        #share {
            padding: 0;
            border: none;
            background-color: transparent;
            color: $text-light-on-gray;

            .text {
                padding-top: 2px;
                font-size: 12px;
            }
            &:focus {
                outline: none;
            }
        }

        .button {
            height: 40px;
            width: 40px;
            border: none;
            background-color: transparent;
            font-size: 14px;
            color: $text-light-on-gray;
            cursor: pointer;

            &:focus {
                outline: none;
            }
            &:disabled {
                background-color: rgba(255, 255, 255, 0.6);
            }

            &.play {
                margin-right: 10px;
            }
            &.mute-toggle-button {
                box-sizing: border-box;
                font-size: 20px;
                padding: 10px 0 0 10px;
            }
        }
    }
    #time-bar {
        float: left;
        height: 3px;
        width: calc(100% - #{$player-controllers-width});
        margin-top: 2px;
        padding: 5px 0;
        cursor: pointer;

        .fill {
            float: left;
            height: 100%;
            background-color: #3880d5;
            transition: width 0.1s linear;
        }
        .unfill {
            float: left;
            height: 100%;
            background-color: $light-gray;
            transition: width 0.1s linear;
        }
        .overlay {
            position: relative;
            height: 100%;
            width: 100%;
        }
    }
}
