#search-options {
    margin: 5px 10px;
    padding: 10px;
    background-color: #626262;

    .programs {
        overflow: hidden;

        .program {
            position: relative;
            float: left;
            width: 100px;
            padding: 8px 8px 8px 0;
            margin-right: 10px;
            background-color: #ffffff;

            .name {
                padding: 10px 0 0 27px;
                font-size: 14px;
                color: $text-dark-gray;
            }

            label {
                width: 19px;
                height: 19px;
                margin: 8px 5px 5px 5px;
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(top, #222 0%, #45484d 100%);
                box-shadow: inset 0 0 1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,.4);

                &:after {
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    content: '';
                    height: 5px;
                    width: 9px;
                    border: 3px solid #315dca;
                    border-top: none;
                    border-right: none;
                    background: transparent;
                    opacity: 0;
                    transform: rotate(-45deg);
                }
                &:hover::after {
                    opacity: 0.3;
                }
            }
            input[type=checkbox] {
                visibility: hidden;

                &:checked + label:after {
                    opacity: 1;
                }
            }
        }

        .program {
        }
    }
    .guests {
        overflow: hidden;
        margin-top: 10px;

        .guest {
            float: left;
            margin-right: 10px;
            padding: 5px 10px 5px 2px;
            background-color: #ffffff;

            .name {
                font-size: 14px;
                color: $text-dark-gray;
            }

            .remove-button {
                margin-right: 5px;
                background-color: transparent;
                border: none;
                border-right: solid 1px #cccccc;
                font-size: 14px;
                color: #315dca;

                &:hover {
                    color: #e14662;
                    cursor: pointer;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }
}
