$share-window-height: 180px;
$share-window-width: 520px;

@keyframes pop {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes hide {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

#share-modal {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 20000;

  .window {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    height: $share-window-height;
    width: $share-window-width;
    margin-top: #{$share-window-height / -2};
    margin-left: #{$share-window-width / -2};
    padding: 30px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px 1px;
    z-index: 2;

    .close-button {
      position: absolute;
      top: 5px;
      right: 5px;
      border: none;
      background-color: transparent;
      font-size: 18px;
      color: $text-light-gray;
      transition: color 0.1s linear;

      &:hover {
        cursor: pointer;
        color: #e14662;
      }
      &:focus {
        outline: none;
      }
    }
    .social-buttons {
      margin-bottom: 10px;

      button {
        border: none;
        background-color: transparent;
        font-size: 28px;
        color: $text-dark-gray;
        transition: color 0.1s linear;

        &:hover {
          cursor: pointer;

          &.twitter {
            color: #34ccfe;
          }
          &.facebook {
            color: #344d82;
          }
        }
        &:focus {
          outline: none;
        }
      }
    }

    .url {
      margin-bottom: 10px;

      input {
        box-sizing: border-box;
        width: 100%;
        padding: 2px 5px;
        font-size: 14px;

        &:focus {
          outline: none;
        }
      }
    }

    .time-at {
      input[type="checkbox"] {
        margin-right: 5px;
      }
      label {
        margin-right: 5px;
      }
      input[type="text"] {
        box-sizing: border-box;
        width: 60px;
        padding: 2px 3px;
        font-size: 14px;

        &:focus {
          outline: none;
        }
      }
      input:disabled {
        color: #c5c5c5;
      }
    }
  }
  .overray {
    height: 100%;
    width: 100%;
    background-color: rgba(241, 241, 241, 0.8);
    z-index: 1;
  }

  &.showing {
    animation: pop ease 0.2s forwards;
  }
  &.hiding {
    animation: hide ease 0.2s forwards;
  }
}
