#sort-controller {
    float: left;
    padding: 5px 10px;

    button {
        border: none;
        padding: 5px 8px;
        background-color: transparent;
        font-size: 14px;
        font-weight: 200;
        color: #2d2d2d;
        outline: none;
        cursor: pointer;

        &.active {
            background-color: #3880d5;
            color: #ffffff;
        }
    }
}
