$light-gray: #dddddd;
$medium-gray: #aaaaaa;
$dark-gray: #2f2f2f;
$text-light-gray: #a0a0a0;
$text-medium-gray: #4C4C4C;
$text-dark-gray: #333333;
$text-light-gray: #a0a0a0;
$text-light-on-gray: #eeeeee;

$header-height: 60px;
$main-bar-width: 80px;
$player-controllers-width: 200px;
$player-height: 65px;

@import "mixin_track";

html {
    font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
}

html, body,
body > #content,
body > #content > div {
    height: 100%;
    width: 100%;
}

body {
    background-color: #efefef;
}

a {
    color: #315dca;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    &:active {
        color: #ca3f41;
    }
}

#main {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    color: $text-dark-gray;
    background-color: #868686;

    #header {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        height: $header-height;
        width: 100%;
        padding: 10px;
        background-color: $dark-gray;
        box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px 0;
        z-index: 10000;

        #search-box {
            input {
                box-sizing: border-box;
                padding: 8px 10px;
                width: 100%;
                border: 1px solid $medium-gray;
                background-color: transparent;
                font-family: FontAwesome, 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
                font-size: 20px;
                color: $text-light-on-gray;
            }
        }
    }

    #footer {
        position: absolute;
        bottom: 0;
        overflow: hidden;
        width: 100%;
        background-color: $dark-gray;
        box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 2px 0;

        #player {
            box-sizing: border-box;
            height: $player-height;
            padding: 15px 20px;

            .track-info {
                float: left;
                height: 18px;
                width: calc(100% - #{$player-controllers-width});
                margin: 1px 0;
                font-size: 16px;
                color: $text-light-on-gray;

                .program-name {

                }
                .episode-no {
                    margin-left: 5px;

                    &:before {
                        content: "Episode";
                    }
                }
            }
            .controllers {
                float: left;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                height: 100%;
                width: $player-controllers-width;

                .button {
                    height: 30px;
                    width: 30px;
                    border: none;
                    background-color: transparent;
                    font-size: 14px;
                    color: $text-light-on-gray;
                    cursor: pointer;

                    &:focus {
                        outline: none;
                    }
                    &:disabled {
                        background-color: rgba(255, 255, 255, 0.6);
                    }

                    &.play {
                    }
                    &.pause {
                    }
                }
            }
            #time-bar {
                float: left;
                box-sizing: border-box;
                height: 3px;
                width: calc(100% - #{$player-controllers-width});
                margin-top: 10px;

                .fill {
                    float: left;
                    height: 100%;
                    background-color: #386EC3;
                    transition: width 0.1s linear;
                }
                .unfill {
                    float: left;
                    height: 100%;
                    background-color: $light-gray;
                    transition: width 0.1s linear;
                }
            }
        }
    }

    #main-body {
        box-sizing: border-box;
        position: absolute;
        top: $header-height;
        overflow: auto;
        height: calc(100% - #{$header-height + $player-height});
        width: 100%;
        min-width: 500px;

        #program-list, #track-list, #episode-list {
            box-sizing: border-box;
            padding: 10px;
            height: 100%;
        }
        #program-list {
            height: 100%;
        }
    }

    #program-list, #track-list, #episode-list, #search-box, #player {
        @media screen and (min-width: 1281px) {
            width: 1280px;
            margin: 0 auto;
        }
        @media screen and (max-width: 1280px) {
            width: 100%;
        }
        @media screen and (max-width: 500px) {
            width: 500px;
        }
    }

    #search-options {
        margin: 5px 10px;
        padding: 10px;
        background-color: #626262;
        color: $text-light-on-gray;
        border: solid 1px #5c5c5c;
        box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 1px;

        .programs {
            overflow: hidden;
            font-size: 16px;

            .program {
                float: left;
                margin-right: 10px;

                input {
                    font-size: 16px;
                }
            }
        }
        .guests {
            overflow: hidden;
            font-size: 16px;

            .guest {
                float: left;
                margin-right: 10px;

                &:hover {
                    text-decoration: underline;
                }

                .remove-button {
                    background-color: transparent;
                    border: none;
                    font-size: 16px;
                    color: #2b2b2b;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .track {
        @include track;
    }

    .episode {
        @include track;

        .bottom {
            .time-line {
                .block-container {
                    &:hover {
                        background-color: rgba(0, 11, 255, 0.1);
                        cursor: pointer;
                    }

                    .tags {
                        .tag {
                            color: $text-medium-gray;
                            margin-right: 0;
                            background-color: transparent;

                            &.hit {
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }

    #program-list {
        .program {
            position: relative;
            float: left;
            overflow: hidden;
            height: 300px;
            width: 300px;
            margin: 5px 10px;
            cursor: pointer;
            background-size: 300px;

            .overlay {
                position: relative;
                height: 100%;
                width: 100%;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.15);
                }
            }

            .description {
                position: absolute;
                bottom: 0;
                box-sizing: border-box;
                width: 100%;
                padding: 15px;
                color: $text-light-on-gray;
                background-color: rgba(0, 0, 0, 0.7);

                .title {
                    margin: 5px 0;
                    font-size: 22px;
                    letter-spacing: 1px;
                }
                .personality {
                    font-size: 13px;
                }
            }
        }
    }
}
