$dark-blue: #243E79;
$neutral-green: #9ec4c4;
$light-green: #66ad95;
$light-gray: #dddddd;
$medium-gray: #aaaaaa;
$dark-gray: #434343;
$text-light-gray: #a9a9a9;
$text-medium-gray: #4C4C4C;
$text-dark-gray: #333333;

$tool-bar-height: 60px;
$main-bar-width: 80px;
$player-controllers-width: 200px;
$player-height: 60px;

html {
    font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
}

html, body, body > #content,
body > #content > div,
body > #content > div > div,
body > #content > div > div > div {
    height: 100%;
    width: 100%;
}

body {
    background-color: #efefef;
}

#main {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    color: $text-dark-gray;
    //background-color: #ffffff;
    background-color: #efefef;

    @media screen and (min-width: 1281px) {
        width: 1280px;
        margin: 0 auto;
    }
    @media screen and (max-width: 1240px) {
        width: 100%;
    }

    #tool-bar {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        height: $tool-bar-height;
        width: 100%;
        padding: 10px;
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0;
        z-index: 10000;

        #search-box {
            box-sizing: border-box;
            width: 100%;
            padding: 8px 10px;
            border: 1px solid $medium-gray;
            font-family: FontAwesome, 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
            font-size: 20px;
            color: $text-dark-gray;
        }
    }

    #main-body {
        box-sizing: border-box;
        position: absolute;
        top: $tool-bar-height;
        overflow: hidden;
        height: calc(100% - #{$tool-bar-height});
        width: 100%;
        min-width: 500px;

        #program-list, #track-list, #episode-list {
            float: left;
            overflow-y: auto;
            box-sizing: border-box;
            padding: 10px;
            height: calc(100% - #{$player-height});
            width: 100%;
        }

        #player {
            float: left;
            overflow: hidden;
            box-sizing: border-box;
            position: relative;
            height: $player-height;
            width: 100%;
            padding: 10px 20px;
            background-color: #FFFFFF;
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 2px 0;

            .track-info {
                float: left;
                height: 18px;
                width: calc(100% - #{$player-controllers-width});
                margin: 1px 0;
                font-size: 16px;
                color: $text-dark-gray;

                .program-name {

                }
                .episode-no {
                    margin-left: 5px;

                    &:before {
                        content: "Episode";
                    }
                }
            }
            .controllers {
                float: left;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                height: 100%;
                width: $player-controllers-width;

                .button {
                    background-color: #FFFFFF;
                    height: 30px;
                    width: 30px;
                    margin: 3px;
                    border: 1px solid transparent;
                    border-radius: 15px;
                    color: $text-medium-gray;
                    cursor: pointer;

                    &:focus {
                        outline: none;
                    }
                    &:disabled {
                        background-color: rgba(255, 255, 255, 0.6);
                    }

                    &.play {
                    }
                    &.pause {
                    }
                }
            }
            #time-bar {
                float: left;
                box-sizing: border-box;
                height: 3px;
                width: calc(100% - #{$player-controllers-width});
                margin-top: 10px;

                .fill {
                    float: left;
                    height: 100%;
                    background-color: #122a60;
                    transition: width 0.1s linear;
                }
                .unfill {
                    float: left;
                    height: 100%;
                    background-color: $light-gray;
                    transition: width 0.1s linear;
                }
            }
        }
    }
}

.program {
    position: relative;
    float: left;
    overflow: hidden;
    height: 300px;
    width: 300px;
    margin: 5px 10px;
    cursor: pointer;
    background-size: 300px;

    .overlay {
        position: relative;
        height: 100%;
        width: 100%;

        &:hover {
            background-color: rgba(255, 255, 255, 0.15);
        }
    }

    .description {
        position: absolute;
        bottom: 0;
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        color: #EEEEEE;
        background-color: rgba(0, 0, 0, 0.7);

        .title {
            margin: 5px 0;
            font-size: 22px;
            letter-spacing: 1px;
        }
        .personality {
            font-size: 13px;
        }
    }
}

.track {
    float: left;
    overflow: hidden;
    width: calc(100% - 20px);
    margin: 10px;
    background-color: #ffffff;
    border: solid 1px $light-gray;
    box-shadow: rgba(0, 0, 0, 0.07) 0 0 2px 1px;

    .head {
        overflow: hidden;
        position: relative;
        height: auto;
        border-bottom: solid 1px $light-gray;

        .track-information {
            overflow: hidden;
            padding: 13px 13px 13px 60px;

            .title {
                float: left;
                margin-bottom: 7px;
                color: $text-dark-gray;
                font-size: 20px;
            }

            .time {
                float: left;
                margin: 4px 0 0 15px;
                color: $text-light-gray;
                font-size: 13px;

                .time-length {
                    float: left;
                }

                .time-range {
                    float: left;
                }
            }

            .guests {
                clear: both;
                color: $text-medium-gray;

                .ahead {
                    margin-right: 5px;
                    font-size: 14px;
                    color: $text-light-gray;
                }

                .guest-name {
                    margin-right: 10px;
                    font-size: 13px;
                }
            }
        }

        .track-controller {
            position: absolute;
            height: 100%;

            button {
                height: 100%;
                width: 50px;
                border: none;
                background-color: #ffffff;
                color: $text-medium-gray;
                font-size: 11px;
                cursor: pointer;

                &:focus {
                    outline: none;
                }
                &:hover {
                    color: #ffffff;
                }
            }

            .play-button:hover {
                background-color: #87bbff;
                border-color: #87bbff;
            }
            .add-button:hover {
                background-color: $light-green;
                border-color: $light-green;
            }
        }
    }

    .bottom {
        padding: 13px;

        .tag-list {
            overflow: hidden;
            margin-bottom: 5px;
            padding-bottom: 5px;

            .tag {
                display: block;
                float: left;
                margin: 0 3px 3px 0;
                padding: 3px 5px;
                background-color: $neutral-green;
                color: #ffffff;
                font-size: 12px;
                border-radius: 3px;

                &.hit {
                    background-color: #4e8383;
                }
            }
        }

        .time-line {
            box-sizing: border-box;
            width: 100%;
            background-color: #ffffff;

            > div {
                width: 100%;
                height: 20px;
                position: relative;

                .tags {
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 4px 0 0 4px;
                    color: $text-medium-gray;
                    font-size: 13px;
                    text-wrap: none;

                    .tag {
                        padding-right: 6px;
                    }
                }
                .pad {
                    float: left;
                    height: 100%;
                }
                .block {
                    float: left;
                    box-sizing: border-box;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.12);
                }
            }
            > div.self {
                .block {
                    background-color: rgba(222, 10, 10, 0.35);
                }
            }
        }
    }
}
