$light-gray: #dddddd;
$medium-gray: #aaaaaa;
$dark-gray: #2f2f2f;
$text-light-gray: #a0a0a0;
$text-medium-gray: #4C4C4C;
$text-dark-gray: #333333;
$text-light-gray: #a0a0a0;
$text-light-on-gray: #eeeeee;

$header-height: 60px;
$main-bar-width: 80px;
$player-controllers-width: 200px;
$player-height: 65px;

@import 'mixin/track';

html {
    font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
    font-weight: 200;
}

html, body,
body > #content,
body > #content > div {
    height: 100%;
    width: 100%;
}

body {
    background-color: #efefef;
}

a {
    color: #315dca;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    &:active {
        color: #ca3f41;
    }
}

#main {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    color: $text-dark-gray;
    background-color: #868686;

    @import 'layout/header';
    @import 'layout/main-body';
    @import 'layout/footer';

    #program-list, #track-list, #episode-list, #search-box, #player, #comment-list {
        @media screen and (min-width: 1281px) {
            width: 1280px;
            margin: 0 auto;
        }
        @media screen and (max-width: 1280px) {
            width: 100%;
        }
        @media screen and (max-width: 500px) {
            width: 500px;
        }
    }

    .track {
        @include track;
    }

    @import 'module/episode';
    @import 'module/search-options';
    @import 'module/page-controller';
    @import 'module/sort-controller';
    @import 'module/program-list';
}
