@charset "UTF-8";
html {
  font-family: Arial, Roboto, “Droid Sans”, “游ゴシック”, YuGothic, “ヒラギノ角ゴ ProN W3”, “Hiragino Kaku Gothic ProN”, “メイリオ”, Meiryo, sans-serif; }

html, body, body > #content, body > #content > div {
  height: 100%; }

#main {
  float: left;
  height: 100%;
  width: 700px;
  /* todo あとで動的に変更されるように修正する */
  min-height: 100%;
  padding: 10px;
  color: #434343; }

#sidebar {
  float: left;
  height: 100%;
  min-height: 100%;
  width: 300px;
  padding: 10px;
  background-color: #004444;
  color: #000000; }

#search-box {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #737373;
  font-size: 20px; }

#track-list {
  margin-top: 30px; }

.track {
  padding: 12px 10px;
  overflow: hidden; }
  .track .left {
    float: left;
    clear: both; }
    .track .left .add-button {
      height: 40px;
      width: 40px;
      margin: 2px 15px 0 0;
      border: 1px solid #737373;
      background-color: #ffffff;
      color: #737373;
      border-radius: 20px;
      font-size: 14px;
      cursor: pointer; }
      .track .left .add-button:hover {
        background-color: #8fcdc5;
        border-color: #8fcdc5;
        color: #ffffff; }
  .track .main {
    float: left; }
    .track .main .head {
      overflow: hidden;
      padding: 10px 0; }
  .track .head {
    overflow: hidden; }
    .track .head .title {
      float: left;
      font-size: 17px; }
    .track .head .time {
      float: left;
      padding: 3px 0 3px 5px;
      margin: 0 10px;
      background-color: #eeeeee;
      color: #737373;
      border-radius: 5px;
      font-size: 12px; }
      .track .head .time .time-length {
        float: left; }
      .track .head .time .time-range {
        float: left; }
  .track .bottom .tag-list {
    margin-top: 3px;
    padding: 5px 0;
    font-size: 13px; }
    .track .bottom .tag-list .tag {
      margin-right: 3px;
      padding: 2px 5px;
      background-color: #4e8383;
      color: #ffffff;
      border-radius: 3px; }

#play-list {
  padding: 10px 0; }
  #play-list .track {
    padding: 4px 5px; }
    #play-list .track .head .title {
      font-size: 15px; }
    #play-list .track .head .time {
      padding: 2px 0 2px 5px;
      font-size: 11px;
      border-radius: 3px; }
    #play-list .track .bottom .tag-list {
      padding: 4px 0;
      font-size: 12px; }
