@charset "UTF-8";
html {
  font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
  font-weight: 200; }

html, body,
body > #content,
body > #content > div {
  height: 100%;
  width: 100%; }

body {
  background-color: #efefef; }

a {
  color: #315dca;
  text-decoration: none; }
  a:hover {
    cursor: pointer;
    text-decoration: underline; }
  a:active {
    color: #ca3f41; }

#main {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  color: #333333;
  background-color: #868686; }
  #main #header {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
    padding: 10px;
    background-color: #2f2f2f;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px 0;
    z-index: 10000; }
    #main #header #search-box input {
      box-sizing: border-box;
      padding: 8px 10px;
      width: 100%;
      border: 1px solid #aaaaaa;
      background-color: transparent;
      font-family: FontAwesome, 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
      font-weight: 200;
      font-size: 20px;
      letter-spacing: 1px;
      color: #eeeeee; }
  #main #footer {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    background-color: #2f2f2f;
    box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 2px 0; }
    #main #footer #player {
      box-sizing: border-box;
      height: 65px;
      padding: 15px 20px; }
      #main #footer #player .track-info {
        float: left;
        height: 18px;
        width: calc(100% - 200px);
        margin: 1px 0;
        font-size: 16px;
        letter-spacing: 0.5px;
        color: #eeeeee; }
      #main #footer #player .controllers {
        float: left;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 100%;
        width: 200px; }
        #main #footer #player .controllers #volume {
          box-sizing: border-box; }
          #main #footer #player .controllers #volume .mute-toggle-button {
            float: left; }
          #main #footer #player .controllers #volume .slider {
            float: left;
            height: 3px;
            width: 70px;
            margin-top: 14px;
            padding: 5px 0;
            cursor: pointer; }
            #main #footer #player .controllers #volume .slider .fill {
              float: left;
              height: 100%;
              background-color: #3880d5;
              transition: width 0.1s linear; }
            #main #footer #player .controllers #volume .slider .unfill {
              float: left;
              height: 100%;
              background-color: #dddddd;
              transition: width 0.1s linear; }
            #main #footer #player .controllers #volume .slider .overlay {
              position: relative;
              height: 100%;
              width: 100%; }
        #main #footer #player .controllers .button {
          height: 40px;
          width: 40px;
          border: none;
          background-color: transparent;
          font-size: 14px;
          color: #eeeeee;
          cursor: pointer; }
          #main #footer #player .controllers .button:focus {
            outline: none; }
          #main #footer #player .controllers .button:disabled {
            background-color: rgba(255, 255, 255, 0.6); }
          #main #footer #player .controllers .button.play {
            margin-right: 10px; }
          #main #footer #player .controllers .button.mute-toggle-button {
            box-sizing: border-box;
            font-size: 20px;
            padding: 10px 0 0 10px; }
      #main #footer #player #time-bar {
        float: left;
        height: 3px;
        width: calc(100% - 200px);
        margin-top: 2px;
        padding: 5px 0;
        cursor: pointer; }
        #main #footer #player #time-bar .fill {
          float: left;
          height: 100%;
          background-color: #3880d5;
          transition: width 0.1s linear; }
        #main #footer #player #time-bar .unfill {
          float: left;
          height: 100%;
          background-color: #dddddd;
          transition: width 0.1s linear; }
        #main #footer #player #time-bar .overlay {
          position: relative;
          height: 100%;
          width: 100%; }
  #main #main-body {
    box-sizing: border-box;
    position: absolute;
    top: 60px;
    overflow: auto;
    height: calc(100% - 125px);
    width: 100%;
    min-width: 500px; }
    #main #main-body #program-list, #main #main-body #track-list, #main #main-body #episode-list {
      box-sizing: border-box;
      padding: 10px;
      height: 100%; }
    #main #main-body #program-list {
      height: 100%; }
  @media screen and (min-width: 1281px) {
    #main #program-list, #main #track-list, #main #episode-list, #main #search-box, #main #player {
      width: 1280px;
      margin: 0 auto; } }
  @media screen and (max-width: 1280px) {
    #main #program-list, #main #track-list, #main #episode-list, #main #search-box, #main #player {
      width: 100%; } }
  @media screen and (max-width: 500px) {
    #main #program-list, #main #track-list, #main #episode-list, #main #search-box, #main #player {
      width: 500px; } }
  #main #search-options {
    margin: 5px 10px;
    padding: 10px;
    background-color: #626262;
    color: #eeeeee;
    border: solid 1px #5c5c5c;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 1px; }
    #main #search-options .programs {
      overflow: hidden;
      font-size: 16px; }
      #main #search-options .programs .program {
        float: left;
        margin-right: 10px; }
        #main #search-options .programs .program input {
          font-size: 16px; }
    #main #search-options .guests {
      overflow: hidden;
      font-size: 16px; }
      #main #search-options .guests .guest {
        float: left;
        margin-right: 10px; }
        #main #search-options .guests .guest:hover {
          text-decoration: underline; }
        #main #search-options .guests .guest .remove-button {
          background-color: transparent;
          border: none;
          font-size: 16px;
          color: #2b2b2b; }
          #main #search-options .guests .guest .remove-button:hover {
            cursor: pointer; }
  #main #page-controller {
    float: right;
    padding: 10px 10px; }
    #main #page-controller .paging-link {
      padding: 0 5px;
      color: #2d2d2d; }
    #main #page-controller .paging-inactive {
      padding: 0 5px;
      color: #5e5e5e; }
    #main #page-controller .current-page {
      margin: 0 5px;
      padding: 0 5px;
      background-color: #3880d5;
      color: #ffffff; }
  #main #sort-controller {
    float: left;
    padding: 5px 10px; }
    #main #sort-controller button {
      border: none;
      padding: 5px 8px;
      background-color: transparent;
      font-size: 14px;
      font-weight: 200;
      color: #2d2d2d;
      outline: none;
      cursor: pointer; }
      #main #sort-controller button.active {
        background-color: #3880d5;
        color: #ffffff; }
  #main .track {
    float: left;
    overflow: hidden;
    width: calc(100% - 20px);
    margin: 10px;
    background-color: #ffffff;
    border: solid 1px #dddddd;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 1px; }
    #main .track:last-child {
      margin-bottom: 20px; }
    #main .track .head {
      overflow: hidden;
      position: relative;
      height: auto; }
      #main .track .head .track-information {
        overflow: hidden;
        padding: 13px 13px 13px 80px; }
        #main .track .head .track-information .title {
          float: left;
          margin-bottom: 7px;
          color: #333333;
          font-size: 20px;
          letter-spacing: 0.5px; }
        #main .track .head .track-information .time {
          float: left;
          margin: 4px 0 0 15px;
          color: #a0a0a0;
          font-size: 13px; }
          #main .track .head .track-information .time .time-length {
            float: left; }
          #main .track .head .track-information .time .time-range {
            float: left; }
        #main .track .head .track-information .delivered-at {
          float: left;
          margin: 4px 0 0 10px;
          color: #a0a0a0;
          font-size: 13px; }
        #main .track .head .track-information .guests {
          clear: both;
          color: #4C4C4C; }
          #main .track .head .track-information .guests .ahead {
            margin-right: 5px;
            font-size: 14px;
            color: #a0a0a0; }
          #main .track .head .track-information .guests .guest-name {
            margin-right: 10px;
            font-size: 13px; }
      #main .track .head .track-controller {
        position: absolute;
        height: 100%; }
        #main .track .head .track-controller .button {
          height: 100%;
          width: 70px;
          border: none;
          background-color: transparent;
          color: #4C4C4C;
          font-size: 11px;
          cursor: pointer;
          transition: background-color 0.1s linear, color 0.1s linear; }
          #main .track .head .track-controller .button:focus {
            outline: none; }
          #main .track .head .track-controller .button:hover {
            color: #ffffff;
            background-color: #599eeb; }
          #main .track .head .track-controller .button:active {
            background-color: #5373ba; }
    #main .track .bottom .loading-bar {
      height: 2px;
      width: 100%; }
      #main .track .bottom .loading-bar .fill {
        float: left;
        height: 100%;
        background-color: #3880d5;
        transition: width 0.1s linear; }
      #main .track .bottom .loading-bar .unfill {
        float: left;
        height: 100%;
        background-color: #dddddd;
        transition: width 0.1s linear; }
    #main .track .bottom .time-line {
      padding: 13px;
      box-sizing: border-box;
      width: 100%;
      background-color: #ffffff; }
      #main .track .bottom .time-line .block-container {
        width: 100%;
        height: 20px;
        position: relative; }
        #main .track .bottom .time-line .block-container .tags {
          position: absolute;
          top: 0;
          left: 0;
          padding-top: 2px;
          padding-left: 2px;
          font-size: 13px;
          text-wrap: none; }
          #main .track .bottom .time-line .block-container .tags .tag {
            display: block;
            float: left;
            margin-right: 3px;
            padding: 2px 4px;
            background-color: rgba(56, 110, 195, 0.3);
            color: #ffffff;
            font-size: 12px;
            border-radius: 3px; }
            #main .track .bottom .time-line .block-container .tags .tag.hit {
              background-color: rgba(56, 110, 195, 0.75); }
        #main .track .bottom .time-line .block-container .pad {
          float: left;
          height: 100%; }
        #main .track .bottom .time-line .block-container .block {
          float: left;
          box-sizing: border-box;
          height: 100%; }
          #main .track .bottom .time-line .block-container .block .fill {
            float: left;
            height: 100%;
            background-color: #a3c7e9;
            transition: width 0.1s linear; }
          #main .track .bottom .time-line .block-container .block .unfill {
            float: left;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.12);
            transition: width 0.1s linear; }
  #main .episode {
    float: left;
    overflow: hidden;
    width: calc(100% - 20px);
    margin: 10px;
    background-color: #ffffff;
    border: solid 1px #dddddd;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 1px; }
    #main .episode:last-child {
      margin-bottom: 20px; }
    #main .episode .head {
      overflow: hidden;
      position: relative;
      height: auto; }
      #main .episode .head .track-information {
        overflow: hidden;
        padding: 13px 13px 13px 80px; }
        #main .episode .head .track-information .title {
          float: left;
          margin-bottom: 7px;
          color: #333333;
          font-size: 20px;
          letter-spacing: 0.5px; }
        #main .episode .head .track-information .time {
          float: left;
          margin: 4px 0 0 15px;
          color: #a0a0a0;
          font-size: 13px; }
          #main .episode .head .track-information .time .time-length {
            float: left; }
          #main .episode .head .track-information .time .time-range {
            float: left; }
        #main .episode .head .track-information .delivered-at {
          float: left;
          margin: 4px 0 0 10px;
          color: #a0a0a0;
          font-size: 13px; }
        #main .episode .head .track-information .guests {
          clear: both;
          color: #4C4C4C; }
          #main .episode .head .track-information .guests .ahead {
            margin-right: 5px;
            font-size: 14px;
            color: #a0a0a0; }
          #main .episode .head .track-information .guests .guest-name {
            margin-right: 10px;
            font-size: 13px; }
      #main .episode .head .track-controller {
        position: absolute;
        height: 100%; }
        #main .episode .head .track-controller .button {
          height: 100%;
          width: 70px;
          border: none;
          background-color: transparent;
          color: #4C4C4C;
          font-size: 11px;
          cursor: pointer;
          transition: background-color 0.1s linear, color 0.1s linear; }
          #main .episode .head .track-controller .button:focus {
            outline: none; }
          #main .episode .head .track-controller .button:hover {
            color: #ffffff;
            background-color: #599eeb; }
          #main .episode .head .track-controller .button:active {
            background-color: #5373ba; }
    #main .episode .bottom .loading-bar {
      height: 2px;
      width: 100%; }
      #main .episode .bottom .loading-bar .fill {
        float: left;
        height: 100%;
        background-color: #3880d5;
        transition: width 0.1s linear; }
      #main .episode .bottom .loading-bar .unfill {
        float: left;
        height: 100%;
        background-color: #dddddd;
        transition: width 0.1s linear; }
    #main .episode .bottom .time-line {
      padding: 13px;
      box-sizing: border-box;
      width: 100%;
      background-color: #ffffff; }
      #main .episode .bottom .time-line .block-container {
        width: 100%;
        height: 20px;
        position: relative; }
        #main .episode .bottom .time-line .block-container .tags {
          position: absolute;
          top: 0;
          left: 0;
          padding-top: 2px;
          padding-left: 2px;
          font-size: 13px;
          text-wrap: none; }
          #main .episode .bottom .time-line .block-container .tags .tag {
            display: block;
            float: left;
            margin-right: 3px;
            padding: 2px 4px;
            background-color: rgba(56, 110, 195, 0.3);
            color: #ffffff;
            font-size: 12px;
            border-radius: 3px; }
            #main .episode .bottom .time-line .block-container .tags .tag.hit {
              background-color: rgba(56, 110, 195, 0.75); }
        #main .episode .bottom .time-line .block-container .pad {
          float: left;
          height: 100%; }
        #main .episode .bottom .time-line .block-container .block {
          float: left;
          box-sizing: border-box;
          height: 100%; }
          #main .episode .bottom .time-line .block-container .block .fill {
            float: left;
            height: 100%;
            background-color: #a3c7e9;
            transition: width 0.1s linear; }
          #main .episode .bottom .time-line .block-container .block .unfill {
            float: left;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.12);
            transition: width 0.1s linear; }
    #main .episode .bottom .time-line .block-container:hover {
      background-color: rgba(55, 141, 255, 0.1);
      cursor: pointer; }
    #main .episode .bottom .time-line .block-container .tags .tag {
      color: #4C4C4C;
      margin-right: 0;
      background-color: transparent; }
      #main .episode .bottom .time-line .block-container .tags .tag.hit {
        background-color: transparent; }
  #main #program-list .program {
    position: relative;
    float: left;
    overflow: hidden;
    height: 300px;
    width: 300px;
    margin: 5px 10px;
    cursor: pointer;
    background-size: 300px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px 2px; }
    #main #program-list .program .overlay {
      position: relative;
      height: 100%;
      width: 100%; }
      #main #program-list .program .overlay:hover {
        background-color: rgba(255, 255, 255, 0.15); }
    #main #program-list .program .description {
      position: absolute;
      bottom: 0;
      box-sizing: border-box;
      width: 100%;
      padding: 15px;
      color: #eeeeee;
      background-color: rgba(0, 0, 0, 0.7); }
      #main #program-list .program .description .title {
        margin: 5px 0;
        font-size: 22px;
        letter-spacing: 1px; }
      #main #program-list .program .description .personality {
        font-size: 13px; }
