@charset "UTF-8";
html {
  font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
  font-weight: 300; }

html, body,
body > #content,
body > #content > div {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  background-color: #efefef; }

a {
  color: #315dca;
  text-decoration: none; }
  a:hover {
    cursor: pointer;
    text-decoration: underline; }
  a:active {
    color: #ca3f41; }

#main {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  color: #333333;
  background-color: #868686; }
  #main #header {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
    padding: 10px;
    background-color: #2f2f2f;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px 0;
    z-index: 1000; }
    #main #header #header-container #logo {
      float: left;
      box-sizing: border-box;
      height: 40px;
      width: 132px;
      padding-left: 12px;
      background-color: transparent;
      letter-spacing: 0.08em;
      font-size: 34px;
      font-family: 'Raleway', sans-serif; }
      #main #header #header-container #logo a {
        text-decoration: none;
        color: #ffffff;
        transition: color 0.1s linear; }
        #main #header #header-container #logo a:hover {
          color: #e14662; }
    #main #header #header-container #search-box {
      float: left;
      width: calc(100% - 190px); }
      #main #header #header-container #search-box input {
        box-sizing: border-box;
        width: 100%;
        padding: 8px 10px;
        border: 1px solid #aaaaaa;
        background-color: transparent;
        font-family: FontAwesome, 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
        font-weight: 200;
        font-size: 20px;
        letter-spacing: 1px;
        color: #eeeeee; }

@keyframes pop {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
    #main #header #header-container #github-link {
      position: relative;
      float: left;
      box-sizing: border-box;
      height: 38px;
      width: 50px;
      padding: 5px 3px 0 0;
      background-color: transparent;
      border: none;
      text-align: center;
      font-size: 30px;
      color: #ffffff;
      transition: color 0.1s linear; }
      #main #header #header-container #github-link:focus {
        outline: none; }
      #main #header #header-container #github-link:hover {
        cursor: pointer;
        color: #e14662; }
      #main #header #header-container #github-link .balloon {
        position: absolute;
        top: 42px;
        left: -13px;
        display: inline-block;
        margin: 2px;
        padding: 0 7px;
        width: auto;
        height: 30px;
        font-size: 13px;
        color: #F6F6F6;
        line-height: 30px;
        text-align: center;
        background-color: #e14662;
        animation: pop ease 0.3s; }
        #main #header #header-container #github-link .balloon:after {
          content: "";
          position: absolute;
          top: -8px;
          left: 50%;
          margin-left: -8px;
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 8px 8px 8px;
          border-color: transparent transparent #e14662 transparent; }
        #main #header #header-container #github-link .balloon.hiding, #main #header #header-container #github-link .balloon.hiding:after {
          animation: hide ease 0.3s forwards; }
  #main #main-body {
    box-sizing: border-box;
    position: absolute;
    top: 60px;
    overflow: auto;
    height: calc(100% - 125px);
    width: 100%;
    min-width: 500px; }
    #main #main-body #program-list, #main #main-body #track-list, #main #main-body #episode-list {
      box-sizing: border-box;
      padding: 10px;
      height: 100%; }
      #main #main-body #program-list #not-found, #main #main-body #track-list #not-found, #main #main-body #episode-list #not-found {
        padding: 20px 10px;
        text-align: center;
        font-size: 16px;
        color: #333333; }
    #main #main-body #program-list {
      height: 100%; }

@keyframes comment-form-show {
  0% {
    width: 0; }
  100% {
    width: 330px; } }

@keyframes comment-form-hide {
  0% {
    width: 330px; }
  100% {
    width: 0; } }
    #main #main-body #comment-button-container {
      float: left;
      position: absolute;
      bottom: 0;
      padding: 5px;
      z-index: 2; }
      #main #main-body #comment-button-container #comment-button {
        overflow: hidden;
        float: left;
        margin-left: 15px;
        background-color: #2f2f2f;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px 0; }
        #main #main-body #comment-button-container #comment-button:hover .fav {
          color: #e14662; }
        #main #main-body #comment-button-container #comment-button .fav {
          float: left;
          box-sizing: content-box;
          height: 23px;
          width: 23px;
          padding: 12px;
          border: none;
          background-color: transparent;
          color: #eeeeee;
          font-size: 20px; }
          #main #main-body #comment-button-container #comment-button .fav:focus {
            outline: none; }
          #main #main-body #comment-button-container #comment-button .fav:hover {
            cursor: pointer; }
        #main #main-body #comment-button-container #comment-button .comment-form {
          position: relative;
          float: left;
          padding: 10px 0;
          display: none; }
          #main #main-body #comment-button-container #comment-button .comment-form.hide {
            display: block;
            animation: comment-form-hide ease 0.3s forwards; }
          #main #main-body #comment-button-container #comment-button .comment-form.show {
            display: block;
            animation: comment-form-show ease 0.3s forwards; }
          #main #main-body #comment-button-container #comment-button .comment-form input {
            box-sizing: border-box;
            width: 300px;
            margin: 0;
            padding: 6px;
            border: 1px solid #aaaaaa;
            background-color: transparent;
            font-family: FontAwesome, 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
            font-weight: 300;
            font-size: 13px;
            line-height: 13px;
            color: #eeeeee; }
            #main #main-body #comment-button-container #comment-button .comment-form input.error {
              border-color: #e63430;
              outline: none; }
          #main #main-body #comment-button-container #comment-button .comment-form .count {
            position: absolute;
            top: 18px;
            left: 308px;
            font-size: 12px;
            color: #eeeeee; }
            #main #main-body #comment-button-container #comment-button .comment-form .count.error {
              color: #e63430; }

@keyframes pop {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
    #main #main-body #comment-list {
      padding: 15px 15px 5px 15px;
      background-color: transparent;
      color: #2d2d2d;
      font-size: 12px;
      text-align: center;
      z-index: 1; }
      #main #main-body #comment-list .balloon {
        position: relative;
        display: inline-block;
        margin: 5px;
        padding: 0 12px;
        width: auto;
        min-width: 25px;
        height: 35px;
        color: #F6F6F6;
        line-height: 35px;
        text-align: center;
        background-color: #3880d5;
        animation: pop ease 0.3s; }
        #main #main-body #comment-list .balloon:after {
          content: "";
          position: absolute;
          bottom: -8px;
          left: 50%;
          margin-left: -8px;
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 8px 8px 0 8px;
          border-color: #3880d5 transparent transparent transparent; }
        #main #main-body #comment-list .balloon.hiding, #main #main-body #comment-list .balloon.hiding:after {
          animation: hide ease 0.3s forwards; }
        #main #main-body #comment-list .balloon.self {
          background-color: #e14662; }
          #main #main-body #comment-list .balloon.self:after {
            border-color: #e14662 transparent transparent transparent; }
        #main #main-body #comment-list .balloon .fav-heart {
          font-size: 16px; }
  #main #over-footer {
    position: fixed;
    bottom: 75px;
    width: 100%; }
    #main #over-footer #over-footer-container {
      position: relative; }

@keyframes comment-form-show {
  0% {
    width: 0; }
  100% {
    width: 330px; } }

@keyframes comment-form-hide {
  0% {
    width: 330px; }
  100% {
    width: 0; } }
      #main #over-footer #over-footer-container #comment-button-container {
        float: left;
        position: absolute;
        bottom: 0;
        padding: 5px;
        z-index: 2; }
        #main #over-footer #over-footer-container #comment-button-container #comment-button {
          overflow: hidden;
          float: left;
          margin-left: 15px;
          background-color: #2f2f2f;
          border-radius: 30px;
          box-shadow: rgba(0, 0, 0, 0.5) 0 0 2px 0; }
          #main #over-footer #over-footer-container #comment-button-container #comment-button:hover .fav {
            color: #e14662; }
          #main #over-footer #over-footer-container #comment-button-container #comment-button .fav {
            float: left;
            box-sizing: content-box;
            height: 23px;
            width: 23px;
            padding: 12px;
            border: none;
            background-color: transparent;
            color: #eeeeee;
            font-size: 20px; }
            #main #over-footer #over-footer-container #comment-button-container #comment-button .fav:focus {
              outline: none; }
            #main #over-footer #over-footer-container #comment-button-container #comment-button .fav:hover {
              cursor: pointer; }
          #main #over-footer #over-footer-container #comment-button-container #comment-button .comment-form {
            position: relative;
            float: left;
            padding: 10px 0;
            display: none; }
            #main #over-footer #over-footer-container #comment-button-container #comment-button .comment-form.hide {
              display: block;
              animation: comment-form-hide ease 0.3s forwards; }
            #main #over-footer #over-footer-container #comment-button-container #comment-button .comment-form.show {
              display: block;
              animation: comment-form-show ease 0.3s forwards; }
            #main #over-footer #over-footer-container #comment-button-container #comment-button .comment-form input {
              box-sizing: border-box;
              width: 300px;
              margin: 0;
              padding: 6px;
              border: 1px solid #aaaaaa;
              background-color: transparent;
              font-family: FontAwesome, 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
              font-weight: 300;
              font-size: 13px;
              line-height: 13px;
              color: #eeeeee; }
              #main #over-footer #over-footer-container #comment-button-container #comment-button .comment-form input.error {
                border-color: #e63430;
                outline: none; }
            #main #over-footer #over-footer-container #comment-button-container #comment-button .comment-form .count {
              position: absolute;
              top: 18px;
              left: 308px;
              font-size: 12px;
              color: #eeeeee; }
              #main #over-footer #over-footer-container #comment-button-container #comment-button .comment-form .count.error {
                color: #e63430; }

@keyframes pop {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
      #main #over-footer #over-footer-container #comment-list {
        padding: 15px 15px 5px 15px;
        background-color: transparent;
        color: #2d2d2d;
        font-size: 12px;
        text-align: center;
        z-index: 1; }
        #main #over-footer #over-footer-container #comment-list .balloon {
          position: relative;
          display: inline-block;
          margin: 5px;
          padding: 0 12px;
          width: auto;
          min-width: 25px;
          height: 35px;
          color: #F6F6F6;
          line-height: 35px;
          text-align: center;
          background-color: #3880d5;
          animation: pop ease 0.3s; }
          #main #over-footer #over-footer-container #comment-list .balloon:after {
            content: "";
            position: absolute;
            bottom: -8px;
            left: 50%;
            margin-left: -8px;
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 8px 0 8px;
            border-color: #3880d5 transparent transparent transparent; }
          #main #over-footer #over-footer-container #comment-list .balloon.hiding, #main #over-footer #over-footer-container #comment-list .balloon.hiding:after {
            animation: hide ease 0.3s forwards; }
          #main #over-footer #over-footer-container #comment-list .balloon.self {
            background-color: #e14662; }
            #main #over-footer #over-footer-container #comment-list .balloon.self:after {
              border-color: #e14662 transparent transparent transparent; }
          #main #over-footer #over-footer-container #comment-list .balloon .fav-heart {
            font-size: 16px; }
  #main #footer {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    padding-top: 5px;
    background-color: #2f2f2f;
    box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 2px 0; }
    #main #footer #player {
      box-sizing: border-box;
      height: 65px;
      padding: 0 20px; }
      #main #footer #player .track-info {
        float: left;
        height: 18px;
        width: calc(100% - 240px);
        margin-top: 10px;
        font-size: 16px;
        letter-spacing: 0.5px;
        color: #eeeeee; }
      #main #footer #player .time-info {
        float: left;
        width: calc(100% - 240px);
        margin-top: 2px;
        font-size: 12px;
        letter-spacing: 0.5px;
        color: #eeeeee; }
        #main #footer #player .time-info .separator {
          padding: 0 1px; }
        #main #footer #player .time-info .current {
          float: left; }
        #main #footer #player .time-info .end {
          float: right; }
      #main #footer #player .controllers {
        float: left;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 100%;
        width: 240px; }
        #main #footer #player .controllers #volume {
          box-sizing: border-box;
          margin-right: 20px; }
          #main #footer #player .controllers #volume .mute-toggle-button {
            float: left; }
          #main #footer #player .controllers #volume .slider {
            float: left;
            height: 3px;
            width: 70px;
            margin-top: 14px;
            padding: 5px 0;
            cursor: pointer; }
            #main #footer #player .controllers #volume .slider .fill {
              float: left;
              height: 100%;
              background-color: #3880d5;
              transition: width 0.1s linear; }
            #main #footer #player .controllers #volume .slider .unfill {
              float: left;
              height: 100%;
              background-color: #dddddd;
              transition: width 0.1s linear; }
            #main #footer #player .controllers #volume .slider .overlay {
              position: relative;
              height: 100%;
              width: 100%; }
        #main #footer #player .controllers #share {
          padding: 0;
          border: none;
          background-color: transparent;
          color: #eeeeee; }
          #main #footer #player .controllers #share .text {
            padding-top: 2px;
            font-size: 12px; }
          #main #footer #player .controllers #share:focus {
            outline: none; }
        #main #footer #player .controllers .button {
          height: 40px;
          width: 40px;
          border: none;
          background-color: transparent;
          font-size: 14px;
          color: #eeeeee;
          cursor: pointer; }
          #main #footer #player .controllers .button:focus {
            outline: none; }
          #main #footer #player .controllers .button:disabled {
            background-color: rgba(255, 255, 255, 0.6); }
          #main #footer #player .controllers .button.play {
            margin-right: 10px; }
          #main #footer #player .controllers .button.mute-toggle-button {
            box-sizing: border-box;
            font-size: 20px;
            padding: 10px 0 0 10px; }
      #main #footer #player #time-bar {
        float: left;
        height: 3px;
        width: calc(100% - 240px);
        margin-top: 2px;
        padding: 5px 0;
        cursor: pointer; }
        #main #footer #player #time-bar .fill {
          float: left;
          height: 100%;
          background-color: #3880d5;
          transition: width 0.1s linear; }
        #main #footer #player #time-bar .unfill {
          float: left;
          height: 100%;
          background-color: #dddddd;
          transition: width 0.1s linear; }
        #main #footer #player #time-bar .overlay {
          position: relative;
          height: 100%;
          width: 100%; }
  @media screen and (min-width: 1281px) {
    #main #program-list, #main #track-list, #main #episode-list, #main #header-container, #main #player, #main #over-footer-container {
      width: 1280px;
      margin: 0 auto; } }
  @media screen and (max-width: 1280px) {
    #main #program-list, #main #track-list, #main #episode-list, #main #header-container, #main #player, #main #over-footer-container {
      width: 100%; } }
  @media screen and (max-width: 500px) {
    #main #program-list, #main #track-list, #main #episode-list, #main #header-container, #main #player, #main #over-footer-container {
      width: 500px; } }
  #main .track {
    float: left;
    overflow: hidden;
    width: calc(100% - 20px);
    margin: 10px;
    background-color: #ffffff;
    border: solid 1px #dddddd;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 1px; }
    #main .track:last-child {
      margin-bottom: 20px; }
    #main .track .head {
      overflow: hidden;
      position: relative;
      height: auto; }
      #main .track .head .track-information {
        overflow: hidden;
        padding: 13px 13px 13px 80px; }
        #main .track .head .track-information .title {
          float: left;
          margin-bottom: 7px;
          color: #333333;
          font-size: 20px;
          letter-spacing: 0.5px; }
          #main .track .head .track-information .title a:hover {
            text-decoration: none;
            border-bottom: 1px solid #315dca; }
        #main .track .head .track-information .time {
          float: left;
          margin: 4px 0 0 15px;
          color: #a0a0a0;
          font-size: 13px; }
          #main .track .head .track-information .time .time-length {
            float: left; }
          #main .track .head .track-information .time .time-range {
            float: left; }
        #main .track .head .track-information .delivered-at {
          float: left;
          margin: 4px 0 0 10px;
          color: #a0a0a0;
          font-size: 13px; }
        #main .track .head .track-information .guests {
          clear: both;
          color: #4C4C4C; }
          #main .track .head .track-information .guests .ahead {
            margin-right: 5px;
            font-size: 14px;
            color: #a0a0a0; }
          #main .track .head .track-information .guests .guest-name {
            margin-right: 10px;
            font-size: 13px; }
      #main .track .head .track-controller {
        position: absolute;
        height: 100%; }
        #main .track .head .track-controller .button {
          height: 100%;
          width: 70px;
          border: none;
          background-color: transparent;
          color: #4C4C4C;
          font-size: 11px;
          cursor: pointer;
          transition: background-color 0.1s linear, color 0.1s linear; }
          #main .track .head .track-controller .button:focus {
            outline: none; }
          #main .track .head .track-controller .button:hover {
            color: #ffffff;
            background-color: #599eeb; }
          #main .track .head .track-controller .button:active {
            background-color: #5373ba; }
    #main .track .bottom {
      position: relative; }
      #main .track .bottom .loading-bar {
        height: 2px;
        width: 100%; }
        #main .track .bottom .loading-bar .fill {
          float: left;
          height: 100%;
          background-color: #3880d5;
          transition: width 0.1s linear; }
        #main .track .bottom .loading-bar .unfill {
          float: left;
          height: 100%;
          background-color: #dddddd;
          transition: width 0.1s linear; }
      #main .track .bottom .time-line {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        padding: 13px; }
        #main .track .bottom .time-line .block-container {
          width: 100%;
          height: 20px;
          position: relative; }
          #main .track .bottom .time-line .block-container .tags {
            position: absolute;
            top: 0;
            left: 0;
            padding-top: 2px;
            padding-left: 2px;
            font-size: 13px;
            text-wrap: none; }
            #main .track .bottom .time-line .block-container .tags .tag {
              display: block;
              float: left;
              margin-right: 3px;
              padding: 2px 4px;
              background-color: rgba(56, 110, 195, 0.3);
              color: #ffffff;
              font-size: 12px;
              border-radius: 3px; }
              #main .track .bottom .time-line .block-container .tags .tag.hit {
                background-color: rgba(56, 110, 195, 0.75); }
          #main .track .bottom .time-line .block-container .pad {
            float: left;
            height: 100%; }
          #main .track .bottom .time-line .block-container .block {
            float: left;
            box-sizing: border-box;
            height: 100%; }
            #main .track .bottom .time-line .block-container .block .fill {
              float: left;
              height: 100%;
              background-color: #a3c7e9;
              transition: width 0.1s linear; }
            #main .track .bottom .time-line .block-container .block .unfill {
              float: left;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.12);
              transition: width 0.1s linear; }
      #main .track .bottom .comment-line {
        box-sizing: border-box;
        width: 100%;
        height: 23px;
        padding: 0 13px; }
        #main .track .bottom .comment-line .block-container {
          position: relative;
          overflow: hidden;
          height: 100%;
          width: 100%; }
          #main .track .bottom .comment-line .block-container .block {
            position: absolute;
            float: left;
            width: 1%;
            padding-top: 1%;
            background-color: #ffacb3;
            border-radius: 50%;
            transition: background-color 0.1s linear; }
            #main .track .bottom .comment-line .block-container .block:hover {
              cursor: pointer;
              background-color: #ff3a41; }
  #main .episode {
    float: left;
    overflow: hidden;
    width: calc(100% - 20px);
    margin: 10px;
    background-color: #ffffff;
    border: solid 1px #dddddd;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 1px; }
    #main .episode:last-child {
      margin-bottom: 20px; }
    #main .episode .head {
      overflow: hidden;
      position: relative;
      height: auto; }
      #main .episode .head .track-information {
        overflow: hidden;
        padding: 13px 13px 13px 80px; }
        #main .episode .head .track-information .title {
          float: left;
          margin-bottom: 7px;
          color: #333333;
          font-size: 20px;
          letter-spacing: 0.5px; }
          #main .episode .head .track-information .title a:hover {
            text-decoration: none;
            border-bottom: 1px solid #315dca; }
        #main .episode .head .track-information .time {
          float: left;
          margin: 4px 0 0 15px;
          color: #a0a0a0;
          font-size: 13px; }
          #main .episode .head .track-information .time .time-length {
            float: left; }
          #main .episode .head .track-information .time .time-range {
            float: left; }
        #main .episode .head .track-information .delivered-at {
          float: left;
          margin: 4px 0 0 10px;
          color: #a0a0a0;
          font-size: 13px; }
        #main .episode .head .track-information .guests {
          clear: both;
          color: #4C4C4C; }
          #main .episode .head .track-information .guests .ahead {
            margin-right: 5px;
            font-size: 14px;
            color: #a0a0a0; }
          #main .episode .head .track-information .guests .guest-name {
            margin-right: 10px;
            font-size: 13px; }
      #main .episode .head .track-controller {
        position: absolute;
        height: 100%; }
        #main .episode .head .track-controller .button {
          height: 100%;
          width: 70px;
          border: none;
          background-color: transparent;
          color: #4C4C4C;
          font-size: 11px;
          cursor: pointer;
          transition: background-color 0.1s linear, color 0.1s linear; }
          #main .episode .head .track-controller .button:focus {
            outline: none; }
          #main .episode .head .track-controller .button:hover {
            color: #ffffff;
            background-color: #599eeb; }
          #main .episode .head .track-controller .button:active {
            background-color: #5373ba; }
    #main .episode .bottom {
      position: relative; }
      #main .episode .bottom .loading-bar {
        height: 2px;
        width: 100%; }
        #main .episode .bottom .loading-bar .fill {
          float: left;
          height: 100%;
          background-color: #3880d5;
          transition: width 0.1s linear; }
        #main .episode .bottom .loading-bar .unfill {
          float: left;
          height: 100%;
          background-color: #dddddd;
          transition: width 0.1s linear; }
      #main .episode .bottom .time-line {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        padding: 13px; }
        #main .episode .bottom .time-line .block-container {
          width: 100%;
          height: 20px;
          position: relative; }
          #main .episode .bottom .time-line .block-container .tags {
            position: absolute;
            top: 0;
            left: 0;
            padding-top: 2px;
            padding-left: 2px;
            font-size: 13px;
            text-wrap: none; }
            #main .episode .bottom .time-line .block-container .tags .tag {
              display: block;
              float: left;
              margin-right: 3px;
              padding: 2px 4px;
              background-color: rgba(56, 110, 195, 0.3);
              color: #ffffff;
              font-size: 12px;
              border-radius: 3px; }
              #main .episode .bottom .time-line .block-container .tags .tag.hit {
                background-color: rgba(56, 110, 195, 0.75); }
          #main .episode .bottom .time-line .block-container .pad {
            float: left;
            height: 100%; }
          #main .episode .bottom .time-line .block-container .block {
            float: left;
            box-sizing: border-box;
            height: 100%; }
            #main .episode .bottom .time-line .block-container .block .fill {
              float: left;
              height: 100%;
              background-color: #a3c7e9;
              transition: width 0.1s linear; }
            #main .episode .bottom .time-line .block-container .block .unfill {
              float: left;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.12);
              transition: width 0.1s linear; }
      #main .episode .bottom .comment-line {
        box-sizing: border-box;
        width: 100%;
        height: 23px;
        padding: 0 13px; }
        #main .episode .bottom .comment-line .block-container {
          position: relative;
          overflow: hidden;
          height: 100%;
          width: 100%; }
          #main .episode .bottom .comment-line .block-container .block {
            position: absolute;
            float: left;
            width: 1%;
            padding-top: 1%;
            background-color: #ffacb3;
            border-radius: 50%;
            transition: background-color 0.1s linear; }
            #main .episode .bottom .comment-line .block-container .block:hover {
              cursor: pointer;
              background-color: #ff3a41; }
    #main .episode .bottom .time-line .block-container:hover {
      background-color: rgba(55, 141, 255, 0.1);
      cursor: pointer; }
    #main .episode .bottom .time-line .block-container .tags .tag {
      color: #4C4C4C;
      margin-right: 0;
      background-color: transparent; }
      #main .episode .bottom .time-line .block-container .tags .tag.hit {
        background-color: transparent; }
  #main #search-options {
    margin: 5px 10px;
    padding: 10px;
    background-color: #626262; }
    #main #search-options .programs {
      overflow: hidden; }
      #main #search-options .programs .program {
        position: relative;
        float: left;
        width: 100px;
        padding: 8px 8px 8px 0;
        margin-right: 10px;
        background-color: #ffffff; }
        #main #search-options .programs .program .name {
          padding: 10px 0 0 27px;
          font-size: 14px;
          color: #333333; }
        #main #search-options .programs .program label {
          width: 19px;
          height: 19px;
          margin: 8px 5px 5px 5px;
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 0;
          background: linear-gradient(top, #222 0%, #45484d 100%);
          box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.4); }
          #main #search-options .programs .program label:after {
            position: absolute;
            top: 4px;
            left: 4px;
            content: '';
            height: 5px;
            width: 9px;
            border: 3px solid #315dca;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            transform: rotate(-45deg); }
          #main #search-options .programs .program label:hover::after {
            opacity: 0.3; }
        #main #search-options .programs .program input[type=checkbox] {
          visibility: hidden; }
          #main #search-options .programs .program input[type=checkbox]:checked + label:after {
            opacity: 1; }
    #main #search-options .guests {
      overflow: hidden;
      margin-top: 10px; }
      #main #search-options .guests .guest {
        float: left;
        margin-right: 10px;
        padding: 5px 10px 5px 2px;
        background-color: #ffffff; }
        #main #search-options .guests .guest .name {
          font-size: 14px;
          color: #333333; }
        #main #search-options .guests .guest .remove-button {
          margin-right: 5px;
          background-color: transparent;
          border: none;
          border-right: solid 1px #cccccc;
          font-size: 14px;
          color: #315dca; }
          #main #search-options .guests .guest .remove-button:hover {
            color: #e14662;
            cursor: pointer; }
          #main #search-options .guests .guest .remove-button:focus {
            outline: none; }
  #main .page-controller {
    float: right;
    padding: 10px 10px; }
    #main .page-controller .paging-link {
      padding: 0 5px;
      color: #2d2d2d; }
    #main .page-controller .paging-inactive {
      padding: 0 5px;
      color: #5e5e5e; }
    #main .page-controller .current-page {
      margin: 0 5px;
      padding: 0 5px;
      background-color: #3880d5;
      color: #ffffff; }
    #main .page-controller:last-child {
      margin-top: 5px;
      margin-bottom: 20px; }
  #main #sort-controller {
    float: left;
    padding: 5px 10px; }
    #main #sort-controller button {
      border: none;
      padding: 5px 8px;
      background-color: transparent;
      font-size: 14px;
      font-weight: 200;
      color: #2d2d2d;
      outline: none;
      cursor: pointer; }
      #main #sort-controller button.active {
        background-color: #3880d5;
        color: #ffffff; }
  #main #program-list .program {
    position: relative;
    float: left;
    overflow: hidden;
    height: 300px;
    width: 300px;
    margin: 5px 10px;
    cursor: pointer;
    background-size: 300px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px 2px; }
    #main #program-list .program .overlay {
      position: relative;
      height: 100%;
      width: 100%;
      transition: background-color 0.1s linear; }
      #main #program-list .program .overlay:hover {
        background-color: rgba(255, 255, 255, 0.15); }
    #main #program-list .program .description {
      position: absolute;
      bottom: 0;
      box-sizing: border-box;
      width: 100%;
      padding: 15px;
      color: #eeeeee;
      background-color: rgba(0, 0, 0, 0.7); }
      #main #program-list .program .description .title {
        margin-bottom: 10px;
        font-size: 26px;
        font-weight: 200;
        letter-spacing: 2px; }
      #main #program-list .program .description .personality {
        font-size: 13px; }

@keyframes pop {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  #main #share-modal {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 20000; }
    #main #share-modal .window {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 300px;
      width: 400px;
      margin-top: -150px;
      margin-left: -200px;
      background-color: #ffc6d0;
      z-index: 2; }
    #main #share-modal .overray {
      height: 100%;
      width: 100%;
      background-color: rgba(241, 241, 241, 0.8);
      z-index: 1; }
    #main #share-modal.showing {
      animation: pop ease 0.2s forwards; }
    #main #share-modal.hiding {
      animation: hide ease 0.2s forwards; }
